{% extends "main_menu.html" %}


<a href="{{ url_for('logout') }}">выйти</a>

{% block main %}
<p class="page-title">Камеры</p>
<form class="cash_regs_form" action="{{ url_for('cameras') }}" method="POST">
    <div class="login-field">
        <p class="field-title">Номер магазина (Цифры) *</p>
        <input class="field" type="number" name="shop_number" required />
    </div>
    <div class="login-field">
        <p class="field-title">Адрес магазина *</p>
        <input class="field" type="text" name="shop_address" required />
    </div>
    <div class="login-field">
        <p class="field-title">Подсеть xxx.xxx.xxx  *</p>
        <input class="field" type="text" name="subnet" required />
    </div>
    <div class="cash-regs-froms">

    </div>
    <input class="send-button" type="submit" value="Отправить">
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='cameras.js') }}"></script>{% endblock %}