{% extends "index.html" %}

{% block content %}
<div class="rec-pass-title">
    <p>ВОССТАНОВЛЕНИЕ ПАРОЛЯ {{email}}</p>
</div>
<div class="login-wrapper">
    <form class="login" action="{{ url_for('new_pass') }}" method="POST">
        <div class="login-field">
            <input class="field" type="password" name="password" placeholder="пароль(8 и более символом)" />
        </div>
        <div class="login-field">
            <input class="field" type="password" name="password_confirmation" placeholder="подтверждение пароля" />
        </div>
        {% if error %}
            <p class="error-reg">{{error}}</p>
        {% endif %}
        <div class="bottom-login">
            <input class="send-button" type="submit" value="Сохранить">
            <div class="login-links">
                <a href="{{ url_for('login') }}">Войти</a>
                <a href="{{ url_for('register') }}">Регистрация</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}